extends layouts/_layout

block variables
	-title = 'Статья'

block content

	+b.main

		//begin articles
		+b.SECTION.articles.first-section
			.container
				+breadcrumbs('Главная', 'Статьи', 'Компания «АредоГруп» старается соответствовать всем современным требованиям рынка')
				.row
					+e.col._lg.col
						+b.ARTICLE.article._opened
							+e.img(style='background-image: url(img/content/article_img-2.jpg)')
							+e.P.date 16 НОЯБРЯ 2017
							+e.H2.title.title Компания «АредоГруп» старается соответствовать всем современным требованиям рынка
							+e.P.descr Качеству товаров и услуг. И в каждом из вышеуказанных заведений  в создании комфортной и неповторимой обстановки принимают участие два основных критерия – это интерьер и, конечно же, удобная, оригинальная  и качественная  мебель.
							+e.P.descr Качеству товаров и услуг. И в каждом из вышеуказанных заведений  в создании комфортной и неповторимой обстановки принимают участие два основных критерия – это интерьер и, конечно же, удобная, оригинальная  и качественная  мебель Для ресторанов, уютная и практичная мебель для кафе, креативная и солидная мебель для баров, являющаяся своеобразной «одежкой», по которой встречают нового знакомого. Именно разработка и производство мебели для кафе, баров и ресторанов стало делом жизни для нашей команды.  Мебельная фабрика «АредоГруп»  вот уже более 10 лет профессионально занимается  производством эксклюзивных и современных моделей мебели для ресторанов и кафе, куда входят такие популярные категории как диваны, кресла, стулья, столы, барные стулья и многое другое Качеству товаров и услуг. И в каждом из вышеуказанных заведений  в создании комфортной и неповторимой обстановки принимают участие два основных критерия – это интерьер и, конечно же, удобная, оригинальная  и качественная  мебель  для ресторанов, уютная и практичная мебель для кафе, креативная и солидная мебель для баров, являющаяся своеобразной «одежкой», по которой встречают нового знакомого. Именно разработка и производство мебели для кафе, баров и ресторанов стало делом жизни для нашей команды.
							+e.P.descr Мебельная фабрика «АредоГруп»  вот уже более 10 лет профессионально занимается  производством эксклюзивных и современных моделей мебели для ресторанов и кафе, куда входят такие популярные категории как диваны, кресла, стулья, столы, барные стулья и многое другое каждым годом все лучшее развивается  данная сфера. И одно из самых популярных  и посещаемых мест для досуга, куда мы чаще всего приходим, чтобы избавиться от стресса рабочих будней – это всеми нами любимые, изысканные рестораны, уютные кафе и по-дружески приветливые бары.  Все меняется, и люди становятся все требовательнее к качеству товаров и услуг. И в каждом из вышеуказанных заведений  в создании комфортной и неповторимой обстановки принимают участие два основных критерия – это интерьер и, конечно же, удобная, оригинальная  и качественная  мебель для ресторанов, уютная и практичная мебель для кафе, креативная и солидная мебель для баров, являющаяся своеобразной «одежкой», по которой встречают нового знакомого. Именно разработка и производство мебели для кафе, баров и ресторанов стало делом  жизни для нашей команды.  Мебельная фабрика «АредоГруп»  вот уже более 10 лет профессионально занимаетсяпроизводством эксклюзивных и современных моделей мебели для ресторанов и кафе, куда входят такие популярные категории как диваны, кресла, стулья, столы, барные стулья и многое другое Вы ресторатор или дизайнер и перед вами стоит задача: купить лучшую мебель для ресторана и  кафе среди массы всех предложений! Перед каждым, кто задаётся обустройством и комплектацией ресторана, возникает масса вопросов. Какую именно мебель купить? В каком количестве ее надо приобрести, чтобы всех клиентов усадить и не потерять ни пяди кресла для ресторанов, удобные диваны для кафе, надежные столы для ресторанов, баров и кафе. Опытные рестораторы понимают важность вопроса комфортной и солидной обстановки в своём заведении и
					+e.col._md.col
						+b.pop-articles
							+e.H4.title.title Популярное
							-i = 0
							while i < 2
								+e.item
									+e.A.item-link(href='#!')
										+e.item-img-wrap
											+e.IMG(src='img/content/pop-articles_1.jpg' alt='image')
										+e.item-text
											+e.H5.item-title Компания “Aredo Group” Старается соответствовать всем современым требованиям...
											+e.P.item-date 16 НОЯБРЯ 2017
								-i++
				//end articles
