.icon-arr-l {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arr-r-long {
  width: 5.86em;
  height: 1em;
  fill: #171717;
}
.icon-arr-r {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arr-sm {
  width: 2.5em;
  height: 1em;
  fill: initial;
}
.icon-at {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-back-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-circle-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-file-add {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gp {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-location {
  width: 1em;
  height: 1em;
  fill: #030104;
}
.icon-od {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-play-icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-remove-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr-l {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr-r {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tw {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
